.custom-button2-solid.secondary-custom {
    width: 9rem;
    height: 3.125rem;
    margin-left: 1rem;
}

.custom-button2.secondary-custom {
    width: 9rem;
    height: 3.125rem;
    color: #AC840B;
}
